env_ss/
*.pyc
week1/.DS_Store
week1/project/report.log
week1/project/Problem_Statement.txt
week1/project/data/expedia_report_monthly_january_2018.xlsx
week1/project/data/expedia_report_monthly_march_2018.xlsx
week1/project/.vscode/settings.json
week1/project/example_logfile_.log
week1/project/.DS_Store
.vscode/settings.json
.DS_Store
